<% provide(:title, "Design") %>
<%= render "layouts/navigation" %>
<section id="slide-carousel">
  <div class="row centered">
    <div id="myCarousel" class="carousel slide">
      <!-- Craousel Items -->
      <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "subpages-slide/mep.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO M.E.P Design Service </h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
        <div class="item">
            <%= image_tag "subpages-slide/structure.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO Structure Service</h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
        <div class="item">
            <%= image_tag "subpages-slide/design.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO Architure Service</h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>   
  </div>
</section>


<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>ABBO Design Services</h1>
    	<div class="row">
    		<div class="span8">
  				<p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring. A project team employ a systematic process to building design which creates a unified experience between interior and exterior environments. Each design is a unique response to the program and site.</p>
    		</div>
    		<div class="span4">
    			<%= render "layouts/side_projects" %>
    		</div>
    	</div>
    </div>
  </div>
</section>