<% provide(:title, "Design") %>
<%= render "layouts/navigation" %>
<section id="slide-carousel">
  <div class="row centered">
    <div id="myCarousel" class="carousel slide">
      <!-- Craousel Items -->
      <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "subpages-slide/mep.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO M.E.P Design Service </h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
        <div class="item">
            <%= image_tag "subpages-slide/structure.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO Structure Design Service</h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
        <div class="item">
            <%= image_tag "subpages-slide/design.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>ABBO Architure Design Service</h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>   
  </div>
</section>


<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>ABBO Design Services</h1>
    	<div class="row">
    		<div class="span8">
  				<p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring. A project team employ a systematic process to building design which creates a unified experience between interior and exterior environments. Each design is a unique response to the program and site.</p>
          <h3>MEP Design Service</h3>
          <p>ABBO is experienced in all phases of mechanical, electrical, and plumbing (MEP) systems design, from Due Diligence through Construction Support services. Owner requirements, code issues, architectural needs, and budget constraints are thoroughly evaluated as part of the design process. Solutions to these issues are designed and implemented to provide engineered systems based on the best available and most practical technology.</p>

          <p>Our firm is passionate about customer service and that means meeting or exceeding our clients' expectations. This is why we embrace the schematic design portion of a project. During this phase we listen—we take the time to learn about our clients, their expectations, and their goals. Moving forward, the project scope is determined and approved as clients' needs are met.</p>

          <p>Before we begin a project, we perform an on-site Due Diligence to gather all existing equipment information and maintenance records, observe field conditions, and meet to confirm the scope of work. This enables us to create Construction Documents that accurately depict the necessary work, eliminating the need for bid contingencies.</p>

          <p>During Design Development, we work closely with the architect to integrate form and function and assist in decision-making that will allow the design process to move into full Construction Documents.</p>
          <h3>Structural Engineering - Structural Design Drafting Services.</h3>
          <p>We specialize in shop drawings, steel detailing, structural drafting and design and other engineering services.</p>

          <p>Our services have been designed keeping individual customer need in mind. We are equipped with a set of highly experienced & skilled staff having knowledge in every aspect of structural drafting including steel detailing and accurate structural drawings including shop drawings, steel fabrication drawings and other structural engineering services.</p>

          <p><b>We offer structural engineering services to the following industries:</b></p>
          <ul>
            <li>Residential Structures (both high rise and low rise residential structures)</li>
            <li>Commercial Structures</li>
            <li>Industrial Structures</li>
            <li>Infrastructure</li>
            <li>Special Structures</li>
          </ul>
          <p><b>Our structural engineering services include:</b></p>
          <ul>
            <li>Foundation plan drawing</li>
            <li>Drawing for shallow, Raft & pile foundation</li>
            <li>RCC joint & slab details</li>
            <li>RCC & steel plan & machine foundation details</li>
            <li>Shallow, Raft & pile foundation drawing</li>
            <li>Longitudinal & Cross sections of Beams and columns</li>
            <li>Welded , Riveted or Bolted steel connection details</li>
            <li>Roof truss & joint details</li>
            <li>Drawings for special structure like Retaining walls,retaining structure </li>
            <li>Blown up connection details </li>
            <li>RCC/Steel chimney with necessary reinforcement detailing </li>
          </ul>
          <p>We also offer structural engineering services for all types of Steel structures, Reinforced Concrete Structures, Wooden Structures, Composite Structures, Post Tensioned Structures, Pre-Stress structures, Modular Structures and Masonry Structures.</p>

          <h3>ABBO Architure Design Service</h3>
          
          <p>ABBO Company maintains a solid reputation for delivering exceptional architectural and interior design services to government, research, university, private sector, and industrial clients.</p>
          <p>The firm’s extensive resume ranges from the planning and design of technically sophisticated high containment laboratories and research facilities to government office buildings; private sector industrial, office, manufacturing, and warehouse projects.</p>
          <p> Merrick’s architects and interior designers are experienced at identifying client needs and program requirements and translating that knowledge into responsive design solutions. Communication is the key: through workshops, charrettes, and client interaction as well as tapping into the extensive knowledge base found within the multiple disciplines in the firm.  Merrick’s design team consistently delivers functional, aesthetically pleasing, and sustainable solutions.</p>
          


    		</div>
    		<div class="span4">
    			<%= render "layouts/side_projects" %>
    		</div>
    	</div>
    </div>
  </div>
</section>