<%= render "layouts/navigation" %>
<div class="introtitle">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="introtitle-text">
        <div class="span8">
          <h1>//Featured Projects</h1>
        </div><br>
        <div class="span4">
          <%= form_tag abbo_projects_path, class: "form-inline" do %>
          <div class="span6"><%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name) %></div>
          <div class="span1"><%= submit_tag("Search", class: "btn") %></div>
          <% end %>

        </div>
      </div>  
    </div>  
  </div>
</div> 

<!-- Begin Filtering menu -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 text-center">
      <div id="filter">
        <ul>
          <li><a href="" data-filter="*" class="selected"><i class="icon-reorder"></i> All Items</a></li>
          <% @tags.each do |tag| %>
            <li><a href="" data-filter=".<%= tag.parameterize(sep = '-') %>"><i class="icon-th-large"></i> <%= tag %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- End Filtering menu -->
  <div class="row-fluid">
    <div id="content"> 
      <% @projects.each do |project| %>
        <% unless project.pictures.first.nil? %>
          <div class="boxportfolio4 <%= categorize(project) %> ">
            <div class="boxcontainer">
              <%= link_to image_tag(project.pictures.first.image.thumb.url, :alt => "lorem"), show_project_path(project)%>
              <h1><%= project.name %></h1>
              <p>
                <%= project.location %>
              </p>
            </div>
          </div>
        <% end %> 
      <% end %>  
    </div>  
  </div>   
</div> 




