<%= render "layouts/navigation" %>
<div class="introtitle">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="introtitle-text">
        <h1>// Our Featured Projects</h1>
      </div>  
    </div>  
  </div>
</div> 

<!-- Begin Filtering menu -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 text-center">
      <div id="filter">
        <ul>
          <li><a href="" data-filter="*" class="selected"><i class="icon-reorder"></i> All Items</a></li>
          <% @tags.each do |tag| %>
            <li><a href="" data-filter=".<%= tag.parameterize(sep = '-') %>"><i class="icon-th-large"></i> <%= tag %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- End Filtering menu -->
  <div class="row-fluid">
    <div id="content"> 
      <% @projects.each do |project| %>
        <div class="boxportfolio3 <%= categorize(project) %> ">
          <div class="boxcontainer">
            <%= link_to image_tag(project.pictures.first.image.thumb.url, :alt => "lorem"), project%>
            <h1><a href="listing-details.html"><%= project.name %></a></h1>
            <p>
              <%= project.location %>
            </p>
          </div>
        </div> 
      <% end %>  
    </div>  
  </div>    




