<%= render "layouts/navigation" %>
<div class="introtitle">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="introtitle-text">
        <h1>// <%= @project.name %></h1>
      </div>  
    </div>  
  </div>
</div> 
<section id="abbo-project">
<div class="container-fluid">
  <div class="project-gallery">
    <div class="row-fluid">
        <div class="span8">
          <div id="galleria">
            <% @picture.each do |picture| %>
              <a href="<%= picture.image %>"><img src="<%= picture.image.thumb %>" data-big="<%= picture.image %>" data-title="<%= @project.name %>" ></a>
              <% end %>       
          </div>                     
        </div>
        <div class="span4">
          <div class="gallery-column">
            <h3><%= @project.name %></h3>
            <p>
              <b>Location:</b> 
              <%= @project.location %>
            </p>
            <p>
              <b>Activitives:</b>
              <%= @project.tag_list %>
            </p>
            <p>
              <b>Year:</b> 
              <%= @project.year %>
            </p>

            <p>
              <b>Desciption:</b> 
              <%= sanitize @project.desciption %>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
<script>

    // Load the Twelve theme

    // Initialize Galleria
    Galleria.run('#galleria');

</script> 
