<div class="span9">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert">
      <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Projects Name(*):" %>
    <%= f.text_field :name, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Activities (seprated by comas)" %>
    <%= f.text_field :tag_list, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :location, "Location: " %>
    <%= f.text_field :location, :class => "span7" %>
  </div>
  <div class="field">
    <%= f.label :year, "Year of built: " %>
    <%= f.select :year, (2005..2020), {:selected => 2013}, { :class => "span3" } %>
  </div>
  <div class="field">
    <%= f.label :desciption, "Project description(*):" %>
    <%= f.text_area :desciption, :class => "span7 wysihtml5", :rows => "10" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
    <%= link_to 'Cancel', projects_path, :class => 'btn' %>
  </div>
  
<% end %>
</div>

<script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
</script>
