
<h1>All ABBO Projects</h1><br>
<ul class="thumbnails">
    <% @projects.each do |project| %>
        <li class="span4">
            <% if !project.pictures.first.blank? %>
                <%= link_to image_tag(project.pictures.first.image.thumb.url, :size => "300x200", :alt => "lorem"), project, :class => "thumbnail" %>
            <% else %> 
                <%= link_to image_tag("http://placehold.it/300x200", :alt => "lorem"), project, :class => "thumbnail" %>
            <% end %> 

            <h5 style="text-align:center"><%= project.name %></h5>
            <h5 style="text-align:center"><%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
        </li>    
    <% end %>
</ul>


