<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Activitives:</b>
  <%= @project.activitives %>
</p>

<p>
  <b>Location:</b>
  <%= @project.location %>
</p>

<p>
  <b>Year:</b>
  <%= @project.year %>
</p>

<p>
  <b>Desciption:</b>
  <%= @project.desciption %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
