 <!-- NAVIGATION  -->

        <div class="navbar-wrapper">
            <div class="navbar" id="navigation">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to (image_tag "logo_small.png"), root_path, class: "brand"%>
                    <div class="nav-collapse collapse" >
                        <ul class="nav pull-right">
                            
                            <li><%= link_to "Home", root_path %></li>
                            <li><%= link_to "Design", design_path %></li>
                            <li><%= link_to "Management", management_path %></li>
                            <li><%= link_to "Development", development_path %></li>
                            <li><%= link_to "Projects", "#" %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
<!-- END NAVIGATION  -->