<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 	<title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=" ABBO offers turn-key international standard investment consultancy, engineering and project management services to discriminating Clients wishing to invest in Vietnam. ">
	<meta name="author" content="@dohoangan">
	<%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "application", :media => "all"%>
  <%= javascript_include_tag "application" %>
	<%= render 'layouts/shim' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section class="round">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>
   <%= yield %>
  <%=  render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
